.ComponentAdminUsers-wrapper {
    background: #f1f1f1;
    padding: 10px;
}
.main-text {
    text-align: start;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 22px;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr:nth-of-type(2n + 1) {
    background-color: white;
    padding: 0.35em;
}
.main-tr {
    background: #f1f1f1 !important;
}
table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* general styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}
.last-td {
    word-break: break-all;
}

.td-more-accept {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #fde300;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 5px;
    padding: 4px 6px;
}

.td-more-close {
    border-radius: 30px;
    background: #f1f1f1;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 6px;
}
.td-more {
    @media (max-width: 1440px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
